header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
}
#body{
    background-color:#3D3D3D;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
footer{

    
}